.menuButton {
  cursor: pointer;
  font-size: xx-large;
  margin-right: 5rem;
}

.topBar {
  padding: 1rem;
  margin: 1rem;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.searchBar {
  width: 60%;
  margin-right: 1rem;
  border-right: 1px solid #ccc;
}

.searchBar > input {
  width: 80%;
}

input {
  border: none;
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
  height: 100%;
  padding: 1rem;
}

.alertIcon {
  text-align: right;
  font-size: xx-large;
  width: 10%;
  color: black;
  align-items: center;
  justify-content: right;
  display: flex;
  border-right: 1px solid #ccc;
  padding-right: 1rem;
}

.account {
  width: 20%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.accountIcon {
  display: flex;
  color: white;
  background-color: rgb(73, 75, 92);
  width: 17%;
  height: 100%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.accountDetails {
  margin-left: 1rem;
  margin-right: 3rem;
}
